<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="cv.css">
  <link rel="stylesheet" href="cv_{{ variant | replace(r/[^\w]/g, '_') }}.css">
  <title>Thomas Wittek – {{ title }}</title>
</head>

<body class="{{ variant | replace(r/[^\w]/g, '-') }}">

  <header>
    {% if variant in ['bubble', 'bubble-short', 'polaroid', 'polaroid-short'] %}
      <div class="portrait">
        {% if variant in ['polaroid', 'polaroid-short'] %}
          <img class="portrait polaroid" src="portrait_polaroid.svg" alt="Profile photo">
        {% elif variant in ['bubble', 'bubble-short'] %}
          <div class="frame">
            <img class="portrait bubble" src="portrait.jpg" alt="Profile photo">
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="title">
      <h1><span class="first-name">Thomas</span> <span class="last-name">Wittek</span></h1>
      <h2>{{ title }}</h2>
    </div>
    <ul class="contact">
      {% if variant == 'basic' %}
        {# Different order of items for the basic layout. No icons. No links. #}
        <li>thomas@wittek.me</li>
        <li>+41 78 7122257</li>
        <li>linkedin.com/in/thowit</li>
        <li>Zurich, Switzerland</li>
      {% else %}
        <li><a href="http://linkedin.com/in/thowit" class="linkedin">linkedin.com/in/thowit<span class="icon icon-linkedin"></span></a></li>
        <li><a href="mailto:thomas@wittek.me">thomas@wittek.me<span class="icon material-symbols-outlined">alternate_email</span></a></li>
        <li><a href="tel:+41787122257">+41 78 7122257<span class="icon material-symbols-outlined">call</span></a></li>
        <li><a href="https://maps.app.goo.gl/uWhuVx6parFiDAWZ7">Zurich, CH<span class="icon material-symbols-outlined">location_on</span></a></li>
      {% endif %}
    </ul>
  </header>

  <main>
    {% if summaryHtml %}
      <section>
        {{ summaryHtml | safe }}
      </section>
    {% else %}
      <section>
        <p>Passionate, hands-on Senior Software Engineer and Tech Lead, building zero to one products for millions of users.</p>
        <p>What sets me apart:
          <ul>
            <li><strong>Scale & Impact:</strong> Delivered scalable full-stack products using Python, TypeScript and Java on Web and Android.</li>
            <li><strong>Collaboration:</strong> Worked across teams/functions, translated business needs into tech, and drove product success.</li>
            <li><strong>Fresh AI Skills:</strong> Recently trained ML models at Google and added fresh ML/AI/GenAI skills from ETH Zurich.</li>
            <li><strong>Technical Leadership:</strong> Built and mentored high-performing teams, shipping quality code on user-facing platforms.</li>
          </ul>
        </p>
      </section>
    {% endif %}

    <section>
      <h2>Skills</h2>
      <ul>
        <li><strong>Programming:</strong> Software Architecture and Design. Java, Python, JavaScript, TypeScript, C++, Perl, Bash, HTML, CSS, SCSS, JSON, XML, Protobuf. CI/CD, DevOps, Git, Perforce.<br>Contributed to some of the largest code bases in the world (e.g. Google Search, Maps).</li>
        <li><strong>Stacks/frameworks:</strong> Google Web Server FE, Superroot middleware, Android, Dagger/Guice Dependency Injection, Google Apps Framework (~Spring), REST APIs, Spring Boot, Node.js, Express.js, Flask, Google Closure/Wiz, React, WebDriver, Selenium, Linux.</li>
        <li><strong>Machine Learning:</strong> Model training, Jupyter, Colab, Scikit-learn, Pandas, NumPy, TensorFlow, PyTorch.</li>
        <li><strong>Data:</strong> SQL, MySQL, GoogleSQL, SQLite, MongoDB, BigQuery, Bigtable, Google Data Studio.</li>
        <li><strong>Leadership:</strong> Tech Lead for up to 8 engineers. Roadmap planning, Agile team leadership. Cross-functional, cross-team, cross-timezone collaboration. People management, coaching, hiring.</li>
      </ul>
    </section>

    <section>
      <h2>Experience</h2>

      <h3 class="position">
        <span class="role">Upskilling / Career Transition</span>
        <span class="date"><time datetime="2024-07">07/2024</time> – Present</span>
      </h3>
      <ul>
        <li>Earned Certificate of Advanced Studies in Data & Machine Learning at ETH Zurich. (see Education)</li>
        <li>Completed series of courses in React, TypeScript, Node.js, Express.js, MongoDB, and more. (see Certifications)</li>
        <li>Training Biological Neural Networks at home (two daughters).</li>
      </ul>

      <h3 class="position">
        <span class="role">Tech Lead Manager</span>
        <span class="date"><time datetime="2022-04">04/2022</time> – <time datetime="2024-06">06/2024</time></span>
      </h3>
      <p class="organization">
        <span class="name">Google</span>
        <span class="location">Zurich, Switzerland</span>
      </p>
      <ul>
        <li>Launched Travel Activities & Tours unit on <strong>Google Search</strong>, reaching millions of users monthly. Led project through dozens of A/B experiments. Designed and implemented key features. Trained ML models.</li>
        <li>Created growth analysis, 2 year+ roadmaps, quarterly prioritized work plans.</li>
        <li>Collaborated with PM, UX, and sister teams. Tracked work and reported to senior leadership.</li>
        <li>Managed, grew, and coached team of 4.</li>
        {% if showPrimarySkillsInExp %}
          <li>Skills: Java, JavaScript, TypeScript, C++, HTML, CSS, SQL, Machine Learning, Experiment Analysis, Agile.</li>
        {% endif %}
      </ul>

      <h3 class="position">
        <span class="role">Senior Software Engineer</span>
        <span class="date"><time datetime="2013-12">12/2013</time> – <time datetime="2022-04">04/2022</time></span>
      </h3>
      <p class="organization">
        <span class="name">Google</span>
        <span class="location">Zurich, Switzerland</span>
      </p>
      <ul>
        <li>Launched frontend of admission pricing UI on <strong>Google Maps</strong> Android and <strong>Google Search</strong>, reaching millions of users. Led frontend work and implemented major parts.</li>
        <li>Designed and implemented major projects in <strong>Google Trips</strong> app (millions of installs) including extended search, dependency injection (Dagger), data layer abstraction, i18n, app sunset.</li>
        <li>Led, designed, and implemented redesign of the <strong>YouTube Android</strong> TV casting UI for millions of daily users. Greatly improved reliability through deep analysis, >13kLOC refactorings, numerous bug fixes. Designed and implemented critical parts of YouTube Android in-app video editing UI.</li>
        <li>Architected <strong>Calendar</strong> Desktop UI. Led team of 8 as <strong>Tech Lead</strong>, established processes, guidelines, community, roadmaps, Agile cycles, retrospectives. Implemented app skeleton, drag'n'drop, infrastructure, latency.</li>
        {% if showPrimarySkillsInExp %}
          <li>Skills: Java, JavaScript, TypeScript, HTML, CSS, Android, Python, WebDriver, Experiment Analysis, Agile.</li>
        {% endif %}
      </ul>

      <h3 class="position">
        <span class="role">Software Engineer</span>
        <span class="date"><time datetime="2009-11">11/2009</time> – <time datetime="2013-12">12/2013</time></span>
      </h3>
      <p class="organization">
        <span class="name">Google</span>
        <span class="location">Zurich, Switzerland</span>
      </p>
      <ul>
        <li>Led UI architecture of new <strong>Tasks</strong> Desktop UI (3 engineers). Implemented most of UI, achieved 94% test coverage.</li>
        <li>Promoted to SWE III (L4) in Nov 2010, to Senior SWE (L5) in Dec 2013, based on technical impact and leadership.</li>
        {% if showSecondarySkillsInExp %}
          <li>Skills: Java, JavaScript, HTML, CSS, Guice, Closure.</li>
        {% endif %}
      </ul>

      <h3 class="position">
        <span class="role">Software Engineer</span>
        <span class="date"><time datetime="2008-04">04/2008</time> – <time datetime="2009-11">11/2009</time></span>
      </h3>
      <p class="organization">
        <span class="name">Google</span>
        <span class="location">Dublin, Ireland</span>
      </p>
      <ul>
        <li>Completed Mission Control program in CRM Data Warehouse SRE, implemented automation scripts. Designed and started implementation of Batch Monitoring tool.</li>
        <li>Led UI implementation for several features in multiple Internal Sales Engineering applications. Implemented UI redesign, backend ETL, Bigtable abstraction layer.</li>
        {% if showSecondarySkillsInExp %}
          <li>Skills: Java, JavaScript, HTML, CSS, GWT, Python, Bigtable.</li>
        {% endif %}
      </ul>

      <h3 class="position">
        <span class="role">Technical Student Assistant</span>
        <span class="date"><time datetime="2006-07">07/2006</time> – <time datetime="2008-03">03/2008</time></span>
      </h3>
      <p class="organization">
        <span class="name">University Library, Cologne, Germany</span>
      </p>
      <ul>
        <li>Implemented website redesign in Python, Zope. Lectured team on Web Standards, accessibility, and Web 2.0.</li>
      </ul>

      <h3 class="position">
        <span class="role">Software Engineer</span>
        <span class="date"><time datetime="1999">1999</time> – <time datetime="2005">2005</time></span>
      </h3>
      <p class="organization">
        <span class="name">Freelance</span>
        <span class="location">Cologne, Germany</span>
      </p>
      <ul>
        <li>Developed games and web applications using LAMP stack, Visual Basic.</li>
        <li>Created and published Open Source Web framework <a href="https://metacpan.org/pod/Konstrukt">Konstrukt</a>.</li>
      </ul>
    </section>

    <section>
      <h2>Education</h2>

      <h3 class="position">
        <span class="role">Certificate of Advanced Studies in Data and Machine Learning</span>
        <span class="date"><time datetime="2024-09">09/2024</time> – <time datetime="2025-01">01/2025</time></span>
      </h3>
      <p class="organization">
        <span class="name">ETH Zurich</span>
      </p>
      <ul>
        <li>Overall grade: 6.0 (6.0 is best).</li>
        <li>Modules: AI and IT in Industry (grade 6.0), Information, Data & Computers (grade 6.0), Data Science and Machine Learning (ungraded, passed), Introduction to Programming (ungraded, passed).</li>
      </ul>

      <h3 class="position">
        <span class="role">Masters in Information Systems</span>
        <span class="date"><time datetime="2002-10">10/2002</time> – <time datetime="2007-09">09/2007</time></span>
      </h3>
      <p class="organization">
        <span class="name">University of Cologne</span>
      </p>
      <ul>
        <li>Graduated 2nd best in class of 2007/2008, 32 students. Overall grade: 1.6 (1 is best, 6 is worst).</li>
        <li>Final thesis in Software Engineering (grade 1.0). Majors: Software Engineering (grade 1.0), Computer Graphics &amp; Operation Systems (grade 1.0), Corporate Finance (grade 2.3).</li>
      </ul>
    </section>

    <section>
      <h2>Certifications</h2>

      <ul>
        <li>Coursera: Meta React, Meta Advanced React. July 2025.</li>
        <li>Codecademy: Node.js, Express, Mocha, SCSS, Flask, MongoDB, Spring/Boot/Data, PyTorch. April/May 2025.</li>
      </ul>
    </section>

    {% if showCommunitySection %}
      <section>
        <h2>Community, Awards, Hiring</h2>
        <ul>
          <li>Volunteered for animal shelter website and local non-profits via Google Serve.</li>
          <li>Conducted 40 technical interviews at Google. Hosted 2 interns, 1 converted to full-time. Mentored 9 interns.</li>
          <li>Organized team events, off-sites, celebrations. Co-founded internal Coffee Club.</li>
          <li>Received 20 peer bonuses and 23 spot bonuses.</li>
        </ul>
      </section>
    {% endif %}

    {% if showPersonalSection %}
      <section>
        <h2>Personal</h2>
        <ul>
          <li>Nationality: German and Swiss.</li>
          <li>Languages: German (fluent, native), English (fluent, 16+ years professional use).</li>
          <li>Hobbies: Snowboarding, Mountain Biking, HIIT, cooking, coffee, home automation.</li>
          <li>Married and two daughters (ages 1 and 5).</li>
        </ul>
      </section>
    {% endif %}
  </main>
</body>

</html>
