<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CV customizer</title>
    <link rel="stylesheet" href="cv_form.css">
  </head>
  <body>
    <form method="get" action="cv">
      <label for="title">Title:</label>
      <input name="title" id="title" type="text" value="Senior Software Engineer and Tech Lead">

      <label for="summary">Summary:</label>
      <textarea name="summary" id="summary">Passionate, hands-on Senior Software Engineer and Tech Lead, building zero to one products for millions of users.
Proven track record of leading, building, and shipping ambitious full-stack/frontend projects at scale on major user-facing platforms, on Web and Android. Thriving at cross-functional, cross-team collaboration. Leading and growing high-performing teams. Caring deeply about product impact, quality, and team effectiveness.
Recently trained ML models at Google, earned a CAS in Data and Machine Learning at ETH Zurich, adding fresh ML, AI, GenAI, and Data Analytics skills to my toolbox.</textarea>

      <label for="variant">Variant:</label>
      <select name="variant" id="variant">
        <option value="polaroid">Polaroid photo</option>
        <option value="bubble">Bubble photo</option>
        <option value="no-photo">No photo</option>
        <option value="basic">Basic</option>
      </select>

      <fieldset>
        <legend>Content to show:</legend>
        <div class="checkbox-row">
          <label for="showPrimarySkillsInExp">Show primary skills</label>
          <input name="showPrimarySkillsInExp" id="showPrimarySkillsInExp" type="checkbox" value="1" checked>
        </div>

        <div class="checkbox-row">
          <label for="showSecondarySkillsInExp">Show secondary skills</label>
          <input name="showSecondarySkillsInExp" id="showSecondarySkillsInExp" type="checkbox" value="1" checked>
        </div>

        <div class="checkbox-row">
          <label for="showCommunitySection">Show Community section</label>
          <input name="showCommunitySection" id="showCommunitySection" type="checkbox" value="1" checked>
        </div>

        <div class="checkbox-row">
          <label for="showPersonalSection">Show Personal section</label>
          <input name="showPersonalSection" id="showPersonalSection" type="checkbox" value="1" checked>
        </div>
      </fieldset>

      <button type="submit">Generate CV</button>
    </form>
  </body>
</html>