body.polaroid header {
  margin-bottom: 40pt;
  padding-left: 100pt;
}

body.polaroid header img.portrait.polaroid {
  left: -20pt;
  position: absolute;
  top: -45pt;
  width: 120pt;
}

body.polaroid header .frame {
  display: none;
}

body.polaroid header .title {
  margin-left: 16pt;
  text-align: center;
}

@media print {
  /* Full-bleed print header. */
  @page:first {
    background: url('portrait_polaroid.svg') no-repeat;
    background-position-x: calc(50% - 200pt);
    background-position-y: -65pt;
    background-size: 28%;
  }

  body.polaroid header img {
    display: none;
  }
}
